In [1]:
import pandas as pd

In [11]:
stats = pd.read_csv("player_mvp_stats2.csv") # bu 1991 - 2021 arasi benimki 1993 - 2023 arasi bzi degerler sikinti oldugu icin bunla devam edicem

In [13]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,14087,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14088,14088,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14089,14089,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14090,14090,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14091,14091,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [15]:
del stats["Unnamed: 0"]

In [21]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          50
3P            0
3PA           0
3P%        2042
2P            0
2PA           0
2P%          84
eFG%         50
FT            0
FTA           0
FT%         462
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [27]:
stats[pd.isnull(stats["3P%"])][["Player","3PA"]]

                 Player  3PA
2        Elden Campbell  0.0
3         Irving Thomas  0.0
18           Jack Haley  0.0
20          Keith Owens  0.0
30      Benoit Benjamin  0.0
...                 ...  ...
14061    Evan Eschmeyer  0.0
14062  Gheorghe Mureșan  0.0
14064     Jim McIlvaine  0.0
14070  Mark Hendrickson  0.0
14071      Michael Cage  0.0

[2042 rows x 2 columns]

In [29]:
stats[pd.isnull(stats["FT%"])][["Player","FTA"]]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
13951    Mark McNamara  0.0
13979      Luke Zeller  0.0
14032      Myron Brown  0.0
14054      Malcolm Lee  0.0
14088      Steve Novak  0.0

[462 rows x 2 columns]

In [31]:
stats = stats.fillna(0)

In [33]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [45]:
predictors = [ 'Age','G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G','PA/G', 'SRS']

In [47]:
train = stats[stats["Year"] < 2021]

In [49]:
test = stats[stats["Year"] == 2021]

In [51]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1) #alpha değeri ne kadar büyükse, cezalandırma o kadar güçlü olur ve model o kadar basit hale gelir

In [53]:
reg.fit(train[predictors],train["Share"])  
#.fit(): Bu yöntem, modeli eğitmek için kullanılır. 
#Modeli, belirtilen özellikler (train[predictors]) ile hedef değişken (train["Share"]) arasındaki ilişkiyi öğrenmeye zorlar.

Ridge(alpha=0.1)

In [55]:
predictions = reg.predict(test[predictors])

In [57]:
predictions = pd.DataFrame(predictions,columns = ["predictions"],index = test.index)

In [59]:
predictions

       predictions
630       0.013567
631      -0.013756
632       0.002414
633      -0.004421
634       0.010734
...            ...
13897    -0.012571
13898    -0.011575
13899     0.016424
13900    -0.020434
13901    -0.005421

[540 rows x 1 columns]

In [61]:
combination = pd.concat([test[["Player","Share"]],predictions],axis=1)

In [63]:
combination

                       Player  Share  predictions
630              Aaron Gordon    0.0     0.013567
631             Austin Rivers    0.0    -0.013756
632                   Bol Bol    0.0     0.002414
633          Facundo Campazzo    0.0    -0.004421
634          Greg Whittington    0.0     0.010734
...                       ...    ...          ...
13897             Patty Mills    0.0    -0.012571
13898  Quinndary Weatherspoon    0.0    -0.011575
13899                Rudy Gay    0.0     0.016424
13900               Tre Jones    0.0    -0.020434
13901              Trey Lyles    0.0    -0.005421

[540 rows x 3 columns]

In [65]:
combination.sort_values("Share",ascending=False).head(10)

                      Player  Share  predictions
641             Nikola Jokić  0.961     0.154307
8624             Joel Embiid  0.580     0.162713
3651           Stephen Curry  0.449     0.142386
9907   Giannis Antetokounmpo  0.345     0.207436
1389              Chris Paul  0.138     0.072294
10997            Luka Dončić  0.042     0.151430
7464          Damian Lillard  0.038     0.116303
3536           Julius Randle  0.020     0.088878
3531            Derrick Rose  0.010     0.033000
11358            Rudy Gobert  0.008     0.095349

In [67]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"],combination["predictions"])

0.0026668954567104115

In [69]:
combination["Share"].value_counts()

Share
0.000    525
0.001      3
0.961      1
0.138      1
0.010      1
0.020      1
0.449      1
0.005      1
0.038      1
0.003      1
0.580      1
0.345      1
0.042      1
0.008      1
Name: count, dtype: int64

In [71]:
combination = combination.sort_values("Share",ascending=False)
combination["Rk"] = list(range(1,combination.shape[0]+1))

In [73]:
combination.head(10)

                      Player  Share  predictions  Rk
641             Nikola Jokić  0.961     0.154307   1
8624             Joel Embiid  0.580     0.162713   2
3651           Stephen Curry  0.449     0.142386   3
9907   Giannis Antetokounmpo  0.345     0.207436   4
1389              Chris Paul  0.138     0.072294   5
10997            Luka Dončić  0.042     0.151430   6
7464          Damian Lillard  0.038     0.116303   7
3536           Julius Randle  0.020     0.088878   8
3531            Derrick Rose  0.010     0.033000   9
11358            Rudy Gobert  0.008     0.095349  10

In [75]:
combination = combination.sort_values("predictions",ascending=False)
combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))

In [77]:
combination.head(10)

                      Player  Share  predictions   Rk  Predicted_Rk
9907   Giannis Antetokounmpo  0.345     0.207436    4             1
8624             Joel Embiid  0.580     0.162713    2             2
641             Nikola Jokić  0.961     0.154307    1             3
10997            Luka Dončić  0.042     0.151430    6             4
3736            LeBron James  0.001     0.147511   15             5
3651           Stephen Curry  0.449     0.142386    3             6
4177            Kevin Durant  0.000     0.141350  531             7
4174            James Harden  0.001     0.140598   13             8
11784        Zion Williamson  0.000     0.127926  251             9
3876       Russell Westbrook  0.005     0.120228   11            10

In [79]:
combination.sort_values("Share",ascending=False).head(10)

                      Player  Share  predictions  Rk  Predicted_Rk
641             Nikola Jokić  0.961     0.154307   1             3
8624             Joel Embiid  0.580     0.162713   2             2
3651           Stephen Curry  0.449     0.142386   3             6
9907   Giannis Antetokounmpo  0.345     0.207436   4             1
1389              Chris Paul  0.138     0.072294   5            33
10997            Luka Dončić  0.042     0.151430   6             4
7464          Damian Lillard  0.038     0.116303   7            12
3536           Julius Randle  0.020     0.088878   8            24
3531            Derrick Rose  0.010     0.033000   9            76
11358            Rudy Gobert  0.008     0.095349  10            19

In [89]:
def find_ap(combination):
    actual = combination.sort_values("Share",ascending=False).head(5)
    predicted = combination.sort_values("predictions",ascending=False)
    ps = []
    found = 0
    seen = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values: #mesela cp 5 olmus 33 tahmin etmisiz 5/33 ilk5 icindekiler ilk 5 icinde tahmin edersek 1
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps) / len(ps)

In [91]:
find_ap(combination)

0.7636363636363636

In [93]:
years = list(range(1991,2022))

In [105]:
aps =[]
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors],train["Share"])
    predictions=reg.predict(test[predictors])
    predictions= pd.DataFrame(predictions, columns=["predictions"], index =test.index)
    combination = pd.concat([test[["Player","Share"]],predictions],axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [107]:
sum(aps) / len(aps)

0.7112884360789578

In [117]:
def add_ranks(combination):
    combination = combination.sort_values("Share",ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1)) 
    combination = combination.sort_values("predictions",ascending=False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["Predicted_Rk"]
    return combination

In [125]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"] < 6].sort_values("Diff",ascending=False)

               Player  Share  predictions  Rk  Predicted_Rk  Diff
1600      Karl Malone  0.857     0.192318   1             2    -1
10524  Michael Jordan  0.832     0.167629   2             3    -1
908        Grant Hill  0.327     0.128646   3             6    -3
4682     Tim Hardaway  0.207     0.059984   4            20   -16
8248        Glen Rice  0.117     0.033110   5            53   -48

In [127]:
def backtest(stats,model,year,predictors):
    aps =[]
    all_predictions = []
    for year in years[5:]:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors],train["Share"])
        predictions=reg.predict(test[predictors])
        predictions= pd.DataFrame(predictions, columns=["predictions"], index =test.index)
        combination = pd.concat([test[["Player","Share"]],predictions],axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps,pd.concat(all_predictions)

In [129]:
mean_ap, aps , all_predictions = backtest(stats,reg,years[5:],predictors)

In [131]:
mean_ap

0.7112884360789578

In [133]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
1224         Jason Kidd  0.712     0.028209   2            52   -50
8248          Glen Rice  0.117     0.033110   5            53   -48
5175         Steve Nash  0.839     0.034100   1            45   -44
8516    Peja Stojaković  0.228     0.036269   4            38   -34
5193         Steve Nash  0.739     0.054128   1            34   -33
12726       Joakim Noah  0.258     0.046968   4            37   -33
3657   Chauncey Billups  0.344     0.052698   5            35   -30
1389         Chris Paul  0.138     0.072294   5            33   -28
5208         Steve Nash  0.785     0.074421   2            21   -19
4682       Tim Hardaway  0.207     0.059984   4            20   -16

In [135]:
reg.coef_

array([ 3.21225799e-04,  9.16295119e-05, -5.62287893e-06, -4.14969303e-03,
        5.69435368e-03,  5.51627207e-03, -1.35025345e-01,  4.56936500e-03,
       -1.03942800e-02, -9.82179223e-03,  1.69452132e-02, -1.73181709e-02,
        4.08318282e-03,  7.00021750e-02, -6.58501469e-03,  1.13509610e-02,
       -4.57492793e-03,  2.16104448e-02,  3.50411278e-02, -2.75059354e-02,
        7.45553644e-03,  1.16354220e-02,  1.12337946e-02, -9.69644454e-03,
       -2.63402385e-03,  5.89333750e-03, -1.84247808e-04,  9.78858335e-05,
       -2.95483880e-04,  2.71257474e-02,  2.69641841e-04, -5.56160227e-04,
       -2.18797486e-04, -5.21394525e-04])

In [137]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)],axis=1).sort_values(0,ascending=False)

           0     1
13  0.070002  eFG%
18  0.035041   DRB
29  0.027126  W/L%
17  0.021610   ORB
10  0.016945    2P
21  0.011635   STL
15  0.011351   FTA
22  0.011234   BLK
20  0.007456   AST
25  0.005893   PTS
4   0.005694    FG
5   0.005516   FGA
7   0.004569    3P
12  0.004083   2P%
0   0.000321   Age
30  0.000270    GB
27  0.000098     W
1   0.000092     G
2  -0.000006    GS
26 -0.000184  Year
32 -0.000219  PA/G
28 -0.000295     L
33 -0.000521   SRS
31 -0.000556  PS/G
24 -0.002634    PF
3  -0.004150    MP
16 -0.004575   FT%
14 -0.006585    FT
23 -0.009696   TOV
9  -0.009822   3P%
8  -0.010394   3PA
11 -0.017318   2PA
19 -0.027506   TRB
6  -0.135025   FG%

In [139]:
stat_ratios = stats[["PTS","AST","STL","BLK","3P","Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [141]:
stat_ratios

                 PTS       AST       STL       BLK        3P  Year
Year
1991 0      1.013334  0.420714  0.961127  0.673469  0.508587   1.0
     1      1.614653  1.028412  1.647646  0.673469  4.577279   1.0
     2      0.311795  0.093492  0.274608  1.571429  0.000000   1.0
     3      0.200440  0.186984  0.274608  0.000000  0.000000   1.0
     4      2.383005  1.636110  1.784950  0.897959  1.525760   1.0
...              ...       ...       ...       ...       ...   ...
2021 13897  1.207728  1.207491  0.971223  0.000000  2.393794   1.0
     13898  0.257201  0.201248  0.647482  0.240964  0.099741   1.0
     13899  1.274824  0.704370  1.133094  1.445783  1.695604   1.0
     13900  0.279567  0.553433  0.323741  0.000000  0.099741   1.0
     13901  0.559134  0.301873  0.485612  0.000000  0.598448   1.0

[14092 rows x 6 columns]

In [151]:
stats[["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]].values

In [153]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_T,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.707,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.707,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.707,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.707,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.707,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760

In [155]:
predictors += ["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [157]:
mean_ap,aps , all_predictions = backtest(stats,reg,years[5:],predictors)

In [159]:
mean_ap

0.7115953084861469

In [163]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [165]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [167]:
stats["Pos"].unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SF-C'],
      dtype=object)

In [173]:
from sklearn.ensemble import RandomForestRegressor

rf= RandomForestRegressor(n_estimators=50,random_state=1,min_samples_split=5)

mean_ap,aps , all_predictions = backtest(stats,rf,years[28:],predictors)

In [174]:
mean_ap

0.7384018028287422

In [175]:
mean_ap,aps , all_predictions = backtest(stats,reg,years[28:],predictors)

In [176]:
mean_ap

0.7115953084861469